<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="timg" jdbcType="VARCHAR" property="timg" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="nodeid" jdbcType="INTEGER" property="nodeid" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="reco" jdbcType="INTEGER" property="reco" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="pass" jdbcType="INTEGER" property="pass" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="comment" jdbcType="INTEGER" property="comment" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="createtime" jdbcType="INTEGER" property="createtime" />
    <result column="mooncount" jdbcType="TINYINT" property="mooncount" />
    <result column="lastclicktime" jdbcType="INTEGER" property="lastclicktime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <collection property="node"  ofType="Node">
      <id property="id" column="id" javaType="int" jdbcType="INTEGER"/>
      <result property="name" column="name" javaType="string" jdbcType="VARCHAR"/>
      <result property="nodepath" column="nodepath" javaType="string" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>

  <select id="page" resultMap="BaseResultMap" parameterType="hashmap">
    select a.*,b.id nodeid,b.name,b.nodepath from pz_article a
    LEFT JOIN   pz_node b
    ON
    a.nodeid = b.id
    WHERE
    b.nodepath LIKE '%,${nodeid},%'
    AND
    a.title LIKE  '%${kw}%'
    ORDER BY
    a.id desc
  </select>


</mapper>